#boximg {
    margin: auto;
    max-width: 100%;
    height: 100%;
    background-image: url(../img/building.jpg);
    border-style: solid;
    padding-top: 5%;
    padding-bottom: 7%;
}

#bodybox {
    margin: auto;
    max-width: 60%;
    height: 100%;
    font: 15px arial, sans-serif;
    background-color: #ff8b23;
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 15px;
    opacity: 0.8;
}

#chatborder {
    text-align: center;
    height: 100%;
    border-style: solid;
    background-color: #f6f9f6;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 15px;
}

.chatlog {
    font: 15px arial, sans-serif;
}

#chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
    opacity: 1;
}