.table thead th {
    color: #CC6600;
}

.table-bordered td, .table-bordered th {
    background-color: white;
}

.nba-standings {
    justify-content: center;
    padding: 40px 0;
    background-color: rgba(225, 225, 225, 0.9);
}

.nba-standings-header {
    text-align: center;
    background-color: rgba(225, 225, 225, 0.9);
    margin-bottom: 0;
}


.nba-standings-sub-header {
    text-align: center;
}