<!DOCTYPE html>
<html>
  <title>Authors</title>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- author CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/author.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        font-family: monospace;
      }
      h1 {
        display: inline-block;
        font-size: 3em;
        margin: 0;
        padding: 14px;
      }
      h3 {
        color: black;
        font-size: 20px;
        margin-top: 3px;
        text-align: center;
      }
    </style>
  </head>
  <body>
      <!--::header part start::-->
      <header class="header_area">
        <div class="sub_header">
            <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-4 col-xl-6">
                      <div id="logo">
                        <a href="#"><img src="{{url_for('static', filename='img/bbrain.png')}}" alt="SHAQ" style="width:75px;height:60px;"/></a>
                      </div>
                  </div>
                  <div class="col-md-8 col-xl-6">
                      <div class="sub_header_social_icon float-right">
                        <a href="https://github.com/skekre98/NBA-Search" class="register_icon"><i class="ti-arrow-right"></i>CONTRIBUTE</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>


                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Insights
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{ url_for('blog') }}">Blogs</a>
                                            <a class="dropdown-item"
                                               href="{{ url_for('predictions') }}">Predictions</a>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ url_for('authors') }}" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://github.com/skekre98/NBA-Search/graphs/contributors"
                                           class="nav-link" target="_blank">Contributors</a>
                                    </li>
                                </ul>
                                <div class="header_social_icon d-none d-lg-block">
                                    <ul>
                                        <li><a href="https://www.basketball-reference.com"><i class="ti-basketball"></i></a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><i class="ti-html5"></i></a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Archive/CSS3"><i class="ti-css3"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Authors  -->
    <h2 class="h4 block-title text-center mt-2">Authors</h2>

    <div id="boximg">
        <section class="container py-5">
            <div class="row pt-3">
                <div class="col-lg-3 col-sm-6 mb-30 pb-2">
                    <div class="team-card-style-3 mx-auto">
                        <div class="team-thumb"><img src="{{url_for('static', filename='img/sharvil.png')}}" alt="Author Picture">
                        </div>
                        <h4 class="team-name">Sharvil Kekre</h4><a class="team-contact-link" href="tel:+11234567890"><i class="fe-icon-phone"></i>&nbsp;(123)-456-7890</a><a class="team-contact-link" href="mailto:sharvildev@gmail.com"><i class="fe-icon-mail"></i>&nbsp;sharvildev@gmail.com</a>
                        <div class="team-social-bar-wrap">
                            <div class="team-social-bar">
                                <a class="social-btn sb-style-1 sb-linkedin" href="https://www.linkedin.com/in/sharvilkekre/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="social-btn sb-style-1 sb-github" href="https://github.com/skekre98">
                                    <i class="fa fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Authors end -->

    <!-- footer part start-->
    <footer class="authors_copyright_part">
        <div class="container">
            <div class="row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                  </script> In Loving Memory Of Kobe Bryant <i class="ti-heart" aria-hidden="true"></i>
                </p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                  <a href="https://www.basketball-reference.com"><i class="ti-basketball"></i></a>
                  <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><i class="ti-html5"></i></a>
                  <a href="https://developer.mozilla.org/en-US/docs/Archive/CSS3"><i class="ti-css3"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->

    <script src="{{url_for('static', filename='js/jquery-1.12.1.min.js')}}"></script>
    <!-- custom js -->
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/chatbox.js')}}"></script>
  </body>
</html>
