<!DOCTYPE html>
<html>
  <title>Blogs</title>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- blog CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/blog.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
      <!--::header part start::-->
      <header class="header_area">
        <div class="sub_header">
            <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-4 col-xl-6">
                      <div id="logo">
                        <a href="#"><img src="{{url_for('static', filename='img/bbrain.png')}}" alt="SHAQ" style="width:75px;height:60px;"/></a>
                      </div>
                  </div>
                  <div class="col-md-8 col-xl-6">
                      <div class="sub_header_social_icon float-right">
                        <a href="https://github.com/skekre98/NBA-Search" class="register_icon"><i class="ti-arrow-right"></i>CONTRIBUTE</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Insights
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{ url_for('blog') }}">Blogs</a>
                                            <a class="dropdown-item"
                                               href="{{ url_for('predictions') }}">Predictions</a>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ url_for('authors') }}" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://github.com/skekre98/NBA-Search/graphs/contributors"
                                           class="nav-link" target="_blank">Contributors</a>
                                    </li>
                                </ul>
                                <div class="header_social_icon d-none d-lg-block">
                                    <ul>
                                        <li><a href="https://www.basketball-reference.com"><i class="ti-basketball"></i></a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><i class="ti-html5"></i></a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Archive/CSS3"><i class="ti-css3"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- blog part start-->
    <div class="container-fluid">
        <div style="width:1000px; margin:0 auto;">
            <!-- Search form -->          
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <!-- Requires tm-pt-60 for badge  -->
                    <a href='/download/1' class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="{{url_for('static', filename='img/AI-Orange.png')}}" alt="Image" class="img-fluid">                            
                        </div>
                        <!-- <span class="position-absolute tm-new-badge">New</span> -->
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Random Blog #1</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        This is a mock description of this blog article. It is about stuff that hasn't been written
                        and could end up being pretty cool.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Tag 1 . Tag 2</span>
                        <span class="tm-color-primary">October 1, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>by Author Name</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <!-- Requires tm-pt-60 for badge  -->
                    <a href='/download/2' class="effect-lily tm-post-link tm-pt-20">
                        <param name="autoplay" value="true">
                        <div class="tm-post-link-inner">
                            <img src="{{url_for('static', filename='img/AI-Orange.png')}}" alt="Image" class="img-fluid">                            
                        </div>
                        <!-- <span class="position-absolute tm-new-badge">New</span> -->
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Random Blog #2</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        This is a mock description of this blog article. It is about stuff that hasn't been written
                        and could end up being pretty cool!
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Tag 1 . Tag 2</span>
                        <span class="tm-color-primary">October 1, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>by John Smith</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <!-- Requires tm-pt-60 for badge  -->
                    <a href='/download/3' class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="{{url_for('static', filename='img/AI-Orange.png')}}" alt="Image" class="img-fluid">                            
                        </div>
                        <!-- <span class="position-absolute tm-new-badge">New</span> -->
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Random Blog #3</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        This is a mock description of this blog article. It is about stuff that hasn't been written
                        and could end up being pretty cool.
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Tag 1 . Tag 2</span>
                        <span class="tm-color-primary">October 1, 2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>by Jane Doe</span>
                    </div>
                </article>
            </div>
        </div>    
  </div>
  <!-- blog part end  -->

  <!-- footer part start-->
  <footer class="copyright_part">
      <div class="container">
          <div class="row align-items-center">
              <p class="footer-text m-0 col-lg-8 col-md-12">
                </script> In Loving Memory Of Kobe Bryant <i class="ti-heart" aria-hidden="true"></i>
              </p>
              <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <a href="https://www.basketball-reference.com"><i class="ti-basketball"></i></a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><i class="ti-html5"></i></a>
                <a href="https://developer.mozilla.org/en-US/docs/Archive/CSS3"><i class="ti-css3"></i></a>
              </div>
          </div>
      </div>
  </footer>
  <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="{{url_for('static', filename='js/jquery-1.12.1.min.js')}}"></script>
    <!-- custom js -->
    <script src="{{url_for('static', filename='js/blog.js')}}"></script>
  </body>
</html>